
extends layout

block content
  include intro

  h2 Settings
  table
    tr
      td your client id
      td #{settings.client_id}
    tr
      td your client secret
      td.client_secret #{settings.client_secret}
    tr
      td redirect url
      td.client_secret #{settings.url.redirect}
  p Settings are defined in <em>settings.json</em> file.

  h2 Get the code
  p Use <em>WPOAuth#urlToConnect()</em> method to get the url to get for the code.

  table
    tr
      td url
      td.url #{url}
  p.msg
    a(href=url) Let's get the code !
